.TopNav{
    gap: 30px;
}
.nav{
    gap: 20px;
}
.Header{
    margin: 0%;
    padding: 0%;
}
.ContactInfo {
    height: 6vh;
    min-height: 30px;
    background-color: rgba(33, 33, 26, 1);
}
.nav-link{
    color: white;
    font-family: ubuntu;
    text-decoration: none;

}
.nav-link:focus{
    color: white;
}
.nav-link:active {
    color: inherit; 
  }
.LogoContainer {
    padding-right: 3vw;
    height: 15vh;
    min-height: 90px;
    background: linear-gradient(90deg, rgba(217, 28, 28, 1) 0%, rgba(153, 0, 0, 1) 50%);
}

.Logo {
    padding-left: 3vw;
    width: 30vw;
    min-width: 200px;

}

.ButtonContainer {
    align-items: center;
    gap: 15px;
}
.Menu{
    background-color: black;
    opacity: 0.8;
}
.offcanvas-header .btn-close {
    filter: invert(1); /* Converts to white */
  }

  @media (max-width: 576px) { 
    .nav-link{
        color: white;
        font-family: ubuntu;
        font-size: 12px;
    }
  }