.HeaderButton{
    background: none;
    border: none;
    width: fit-content;
    min-width: 115px;
   
    justify-content: center;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none!important;
    color: white;

}
.HeaderButton:hover {
    background: none;
    opacity: 0.7;
}
.HeaderButton:active{
    background: none!important;
    opacity: 0.6;
}
.GeneralLink{
    text-decoration: none;
}
.Paragraph{
    font-family: ubuntu;
    font-size: 4vh;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0;
    
}