.MedalHolder{
	align-items: center;
    position: absolute;
	top: 4%; /* Coloca la imagen justo al final del primer div */
	left: 50%; /* Centra la imagen horizontalmente */
	transform: translate(-50%, -50%); /* Ajusta la imagen para que esté parcialmente en ambos divs */
	 /* Ancho de la imagen */
	z-index: 0; /* Asegura que la imagen esté por encima de ambos divs */

    background-color: white;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
    width: 80vw;
	height: 180px;
}
@media (max-width: 992px){
	.MedalHolder{
		position: absolute;
		top: 0%; /* Coloca la imagen justo al final del primer div */
		left: 50%; /* Centra la imagen horizontalmente */
		transform: translate(-50%, -80%); /* Ajusta la imagen para que esté parcialmente en ambos divs */
		 
		z-index: 0; /* Asegura que la imagen esté por encima de ambos divs */
	
		background-color: white;
		border-top-right-radius: 60px;
		border-bottom-left-radius: 60px;
		width: 60vw;
		min-width: 210px;
		height: 260px;
	} 
    
}
@media (max-width: 576px){
	.MedalHolder{
		position: absolute;
		top: 0%; /* Coloca la imagen justo al final del primer div */
		left: 50%; /* Centra la imagen horizontalmente */
		transform: translate(-50%, -90%); /* Ajusta la imagen para que esté parcialmente en ambos divs */
		 
		z-index: 0; /* Asegura que la imagen esté por encima de ambos divs */
	
		background-color: white;
		border-top-right-radius: 60px;
		border-bottom-left-radius: 60px;
		width: 60vw;
		min-width: 210px;
		height: 220px;
	} 
    
}