.MidBody2Left{
	position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
	background-image: url('../Figma Components/Rectangle\ 23.png');
	background-position: start;
	background-repeat: no-repeat;
	
}

.MidBody2Right{
	position: relative;
	background-image: url('../Figma Components/Rectangle\ 22.png');
	/* Asegura que el pseudo-elemento se posicione correctamente */
	
	background-position: right !important;
	background-repeat: no-repeat;
	
	
	
	
}
.MidBody2{
	background-image: url('../Figma Components/grupo-rebo-hero-2\ 1.png');
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	min-height: 522px;
	margin: 0%;
	margin-right: 0 !important
}
.Top7{
	margin-top: 20px;
}
.Top9{
	gap: 20px;
	margin-right: 0% !important;
	margin-bottom: 20px;
}
@media (max-width: 992px) { /* Pantallas debajo de lg (menos de 992px) */
	.MidBody2Left{
		
        background-image: url('../Figma Components/grupo-rebo-hero-2\ 2.png');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        height: 482px;
            
        }
    .MidBody2Right{
        padding-top: 20px;
           padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(153, 0, 0, 1);
        }
        .MidBody2{
            background: none;
        }


}