.ProductsSection{
   
    margin-left: 0;
    margin-right: 0%;
   
   min-width: none!important;
    width: 100%;
    max-width: none;
    min-height: 1000px;
    background-color: rgba(33, 33, 26, 1);


}
.ProductTop{
    background-image:  url('../Figma Components/ProductsBackground.png');
    background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.ProductTitle{
    
    padding-left: 40px;
    display: flex;
    font-size: 5rem;
    align-items: center;
}
.ProductsDisplayed{
    padding-top: 50px;
    padding-left: 15px;

}
.Categories{
    border-right: 0.15rem solid white;
}
@media (max-width: 992px) {

    .Categories {border-bottom: 0.05rem solid white;
    border-right: none;
    padding-bottom: 20px;
    
    }
    .ProductsShown{
        justify-content: center;
        padding-top: 5rem;
    }
    .ProductTitle{
        padding: 0%;
        justify-content: center;
        display: flex;
        font-size: 3rem;
    }
}


.Category{
    border-radius: 0%!important;
    --bs-nav-pills-link-active-bg: rgba(255, 113, 0, 1);
    
}
.Category:active{
    border-radius: 0%;
    
}
.Category:hover{
    color: rgba(255, 113, 0, 1);
}
.ProductCards{
    justify-content: center;
}
.ProductsShown{
    justify-content: center!important;
    display: flex;
}