.ContactSection{
    margin:0%;
    max-width: none;
}
.ContactName{
    background-image:  url('../Figma Components/ContactBackground.png');
    background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
    height: 350px;
    margin: 0%;
}
.ContactTitle{
    font-size: 5rem;
    font-weight: bold;
}
@media (max-width: 992px) {
    .ContactTitle{
        font-size: 3rem;
        font-weight: bold;
    }
   
    .Form{
        padding-bottom: 10px;
    }
}
.ContactFormular{
    width: 100%;
}
.ImageContact{
    background-image:  url('../Figma Components/safety-helmet-isolated-background\ 1.png');
    background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
    min-height: 423px;
}