.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-size: cover; /* Esto asegura que la imagen de fondo cubra toda la pantalla */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 100vw) {}
/* Medium devices (landscape tablets, 768px and up) */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  width: 100%;
}